.alert {
    font-size: 13px;
    
}

section{
    padding:10px;
}
.table {
    font-size: 14px;
   
}

tr:hover{
    cursor: pointer;

}
.filter {
     font-size: 14px;
}

.section-tables {
    max-height: 100vh;
    padding: 10px;
    overflow-y: auto;
}
.card{
    font-size: 16px;

}
.nav-pills .nav-link,
.show>.nav-pills .nav-link{
   color: rgb(134, 128, 128);
}
.nav-pills .nav-link:hover {
     color:white;
}

.nav-link.active,
.show>.nav-pills .nav-link{
    background:#ffc107 !important;
    padding: 8px;
    color: black;
}

