.alert {
    font-size: 13px;
    
}
.card{
    font-size: 13px;
   
}
section{
    padding:10px;
}
.h7 {
    font-size: 16px;
    margin-top: 10px;
}

#body {
 font-size: 13px;
}
tr:hover{
    cursor: pointer;

}
